.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
  color: #00c853;
}

.highlightedText {
  background-color: yellow;
  color: black;
  font-weight: bold;
}
